      body{ background-color:blue;
            background-image:linear-gradient(to right,#c9d6ff,#e2e2e2);
            background-size:120%;
            font-family:'Righteous';
            margin:5;
                  }
       h1   { margin: 40px auto;
              font-size:30px;
              color:white;
              background-color:black;
              border-radius: 10px;
              padding: 5px;
              text-align:center;
              box-shadow: 20px 20px 50px grey;
              }
      h2{ text-shadow:1px 3px 1px 1px red;
           }
       table{margin:30px auto;
             background-color:white;
             background-image:linear-gradient(to right,#ff9966,#ff5e62);
             border-collapse:collapse;
             border-radius:20px;
             box-shadow: 20px 20px 50px black;
             max-width:90%;
                  }
     th,td{padding:10px;
               }
     tr.day{ background-color:orange;
           font-size:18px;
           color:white;
           box-shadow: 5px 5px 20px black;
            }

     td:hover{background-color:black;
              color:white;
              font-size:20px;
                 }  
      button{background-color: black;
              border-radius: 10px;
              box-shadow: 5px 5px 25px black;
              margin:30px;
                }   
     a:link{color:white;
           text-decoration:none;
           font-size:15px; 
                }

   a:visited{color:white;
           text-decoration:none;
               }
    a:hover{color:white;
           text-decoration:underline;
           font-size:20px;} 
    p{font-size:16px;
        } 
